{% extends "container.html" %}

{% block body %}
{% include "header.html" %}
<div class = "container" id="login">
    <div class="wrapper">
        <form action="{{url_for('.login')}}" method="post" name="Login_Form" class="form-signin">       
            <h3 class="form-signin-heading">Welcome Back! <br />Please Sign In</h3>
              <hr class="colorgraph"><br>
              
                <a class="btn btn-block btn-social btn-github" href="{{url_for('.login')}}">
                    <span class="fa fa-github"></span> Sign in with Github
                </a>        
        </form>         
    </div>
</div>
{% endblock %}