<ul class="list-group" style="margin-top:20px;">
    {% if current_user.is_authenticated %}
        {% for repo in current_user.active_repositories %}
            <li class="list-group-item repo-menu-card" data-owner="{{repo.owner}}">
                <a href="{{url_for('.repository', owner=repo.owner, repository=repo.name)}}">
                    <i class="fa fa-folder-open pull-left"></i>
                    <div class="owner">
                        {{repo.owner}}/
                    </div>
                    <div class="repo">{{repo.name}}</div>
                </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>