{% extends "container-2col.html" %}


{% block body %}
      <article>
          <div class="row">
            <header class="col-md-12">
              <h1>
                  <a class="pull-left" href="{{url_for('.repository', owner=repository.owner, repository=repository.name)}}"><span class="glyphicon glyphicon-home"></span></a>
                  {{repository.owner}}/{{repository.name}}
                  <img alt="Status badge" src="{{ url_for('.repo_badge_status', owner=repository.owner, repository=repository.name, branch=test.branch, uuid=test.uuid) }}" />
                  <img alt="Coverage badge" src="{{ url_for('.repo_badge_coverage', owner=repository.owner, repository=repository.name, branch=test.branch, uuid=test.uuid) }}" />
              </h1>
              <div class="dl-horizontal card">
                <div class="left {{test.status}}">
                  <span class="glyphicon glyphicon-cog"></span>
                </div>
                <div class="row">
                  <div class="col-md-3">
                      <ul class="list-unstyled">
                        <li>Branch: <span class="dd">{{test.branch|nice_branch}}</span></li>
                        <li>Started: <span class="dd">{{test.run_at}}</span></li>
                      </ul>
                  </div>
                  <div class="col-md-9 text-right">
                    <img class="user" src="{{test.gravatar}}?s=50" alt="{{test.user}}" />
                    {{test.user}}
                    <a href="{{test.link}}" target="_blank">{{test.sha[0:8]}}</a>
                  </div>
                </div>
              </div>
          </header>
        </div>
        {% if test.status == "error" %}
          <em>Traceback :</em>
          {% if test.error_message %}
            <pre style="margin:5%;" class="pre-scrollable">{{test.error_message}}</pre>
          {% endif %}
          {% if repository.isWritable(current_user) %}
          <p><a class="reset" href="{{url_for(".api_repo_test_reset", owner=repository.owner, repository=repository.name, uuid=test.uuid)}}">Restart the test <span class="status"></span></a> </p>
          {% endif %}
        {% endif %}
        <div class="row">
          <section class="col-md-12">
            <div class="filelist dl-horizontal">
                <table class="table">
              {% for unit in test.units|sort(attribute='path') %}
                    <tr class="{{unit.status|success_class_table}}">
                    <td><a href="{{url_for(".api_repo_unit_history", owner=repository.owner, repository=repository.name)}}?uuid={{test.uuid}}&unit={{unit.path}}" name="{{unit.path}}">{{unit.path}}</a><div class="target"></div></td>
                    <td class="col-md-2">{{unit.status|success_class}}</td></tr>
                </div>
              {% endfor %}
              </table>
            </div>
          </section>
        </div>
      </article>
{% endblock %}

{% block script %}
{% if not test.finished %}
<input type="hidden" href="{{url_for('.api_repo_history', owner=repository.owner, repository=repository.name)}}?uuid={{test.uuid}}" data-target="#log-container" id="informations-log"/>

{% endif %}
<script src="{{url_for('.static', filename='js/format.log.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $(".filelist a").on("click", function(e) {
            e.preventDefault();
            var that = $(this),
                target = that.parent().find(".target");

            logs(target, that.attr("href"));
        });
        $("a.reset").on("click", function(e) {
            e.preventDefault();
            var dat = $(this);
            $.get(dat.attr("href"), function(data) {
                that.find(".status").text(data.message);
            });
        });

        if(window.location.hash) {
            var hash = window.location.hash.substring(1), //Puts hash in variable, and removes the # character
                element = $("a[name='"+hash+"']");
            element.click();
        }
    });
</script>
{% endblock %}