{% extends "container-2col.html" %}


{% block body %}
      <article>
          <div class="row">
            <header class="col-md-12">
              <h1 style="font-size: large;">
                  <a href="{{url_for('.repository', owner=repository.owner, repository=repository.name)}}"><span class="fa fa-home"></span> {{repository.owner}}/{{repository.name}}</a>
              </h1>
              <div class="dl-horizontal card">
                <div class="left {{test.status}}">
                  <span class="glyphicon glyphicon-cog"></span>
                </div>
                <div class="row">
                  <div class="col-md-3">
                      <ul class="list-unstyled">
                        <li>Diff: <span class="dd"><a href="{{test.comment_uri}}">Comment on Github</a></span></li>
                        <li>Started: <span class="dd">{{test.run_at}}</span></li>
                      </ul>
                  </div>
                  <div class="col-md-9 text-right">
                    <img class="user" src="{{test.avatar}}?s=50" alt="{{test.user}}'s avatar" />
                    {{test.user}}
                    {{test|nice_link_to_source}}
                  </div>
                    <br clear="all" />
                  <dl class="dl-horizontal" style="margin-top:15px;">
                      <dt>Coverage</dt>
                        <dd aria-label="Coverage">{{test.coverage}}</dd>
                      <dt>Texts</dt>
                        <dd aria-label="Text Count">{{test.texts_passing}}/{{test.texts_total}}</dd>
                      <dt>Travis Build</dt>
                        <dd aria-label="Travis Build"><a href="{{test.travis_uri}}">Link</a></dd>
                      <dt>Github Comment</dt>
                        <dd aria-label="Github Comment"><a href="{{test.comment_uri}}">Link</a></dd>
                      <dt>Metadata</dt>
                        <dd aria-label="Metadata Count">{{test.metadata_passing}}/{{test.metadata_total}}</dd>
                      <dt>Citation Nodes</dt>
                        <dd aria-label="Citation Nodes">{{test.nodes_count}}</dd>
                      {% if test.words_count|count > 0 %}
                          {% for wc in test.words_count %}
                              <dt>Words [{{wc.lang}}]</dt>
                                  <dd aria-label="Words in {{wc.lang}}">{{wc.count}}</dd>
                          {% endfor %}
                      {% endif %}
                  </dl>
                </div>
              </div>
          </header>
        </div>
      </article>
{% endblock %}